<?xml version="1.0"?>
<model>
  <name>Urban 2 Story</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    2 story room with stairs and elevator shaft.
  </description>
<depend><model><uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/Urban Platform</uri></model></depend></model>
