<?xml version="1.0"?>

<model>
  <name>Urban Large Room Split</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    2 part tile that forms a single large room.
  </description>
</model>
