<?xml version="1.0"?>

<model>
  <name>Cave Vertical Shaft Cantilevered Type A</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    Vertical shaft cantilevered tile for cave environment.
  </description>
</model>
