<?xml version="1.0"?>
<model>
  <name>Urban Service Room Centered Lights</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Cole Biesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <author>
    <name>Ian ChenBiesemeyer</name>
    <email>cole@openrobotics.org</email>
  </author>

  <description>
    A lit service room with its entrance centered to connect to other urban tiles.
  </description>
<depend><model><uri>https://fuel.ignitionrobotics.org/1.0/OpenRobotics/models/Urban Platform</uri></model></depend></model>
