<?xml version="1.0"?>

<model>
  <name>cargo_hold_structure</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Mihir Dharmadhikari</name>
    <email>mihir.dharmadhikari@ntnu.no</email>
  </author>

  <description>
    Walls of the cargo hold.
  </description>
</model>
